@font-face {
    font-family: 'regular';
    src: url(../fond/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: 'ligth';
    src: url(../fond/MyriadPro-Light.otf);
}
body{
    background-color: white;
    overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
}
.Seccion1__Cuadro{
    position: sticky;
    top: -20vw;
    display: grid;
    margin: -0.5vw;
    width: 100.5vw;
    height: 10vw;
    background-color: #3a68d6    ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
.Seccion1__Cuadro--Inicio{
    font-family: 'regular';
    font-size: 2vw;
    color: white;
}
.Seccion1__Cuadro--quees{
    font-family: 'regular';
    font-size: 2vw;
    color: white;
}
.img1{
    height: 5vw;
}
.Seccion1__Cuadro--Entrega{
    font-family: 'regular';
    font-size: 2vw;
    color: white;
}
.Seccion1__Cuadro--Consultar{
    font-family: 'regular';
    font-size: 2vw;
    color: black;
    background-color: white;
    width: 18vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

}

.Seccion1__formulario--Background{
    position: relative;
    margin: -0.5vw;
    height: 30vw;
    width: 120vw;
}
.Seccion1__formulario--form{
    position: relative;
    width: 30vw;
    height: 46vw;
    background-color: white;
    top: -28vw;
    left: 5vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    text-align: center;
    padding: 1vw;
}
.consulta{
    font-family: 'ligth';
    font-size: 1.8vw;
    color: black;
}
.ingreso{
    position: relative;
    font-family: 'ligth';
    font-size: 1.8vw;
    color: black;
    top: -0.5vw;
}
.Solidario{
    position: relative;
    font-family: 'ligth';
    font-size: 1.8vw;
    color: black;
    top: -1vw;
}
.textopequeño{
    position: relative;
    top: -6vw;
    padding: 5vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
}
.Documento{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    left: 2vw;
}
.tipo{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    width:26vw;
    height: 1.5vw;
    border: 0.1vw solid black;
    background-color: white;
}
.nuemerodeDocumento{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    left: 2vw;
}
.NumeroDocumento{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    width:26vw;
    height: 1.5vw;
    border: 0.1vw solid black;
    background-color: white;
}
.nombre{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    left: 2vw;
}
.pNombre{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    width:26vw;
    height: 1.5vw;
    border: 0.1vw solid black;
    background-color: white;
}
.apellido{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    left: 2vw;
}
.papellido{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    width:26vw;
    height: 1.5vw;
    border: 0.1vw solid black;
    background-color: white;
}
.fecha{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    left: 2vw;
}
.dateEntry{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    width:26vw;
    height: 1.5vw;
    border: 0.1vw solid black;
    background-color: white;
}
.telefono{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    left: 2vw;
}
.movil{
    position: relative;
    top: -10vw;
    font-family: 'regular';
    font-size: 0.9vw;
    color: black;
    text-align: left;
    width:26vw;
    height: 1.5vw;
    border: 0.1vw solid black;
    background-color: white;
}
.Seccion1__FORM--boton{
    position: relative;
    height: 2.5vw;
    width: 8vw;
    background-color: #3a68d6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: -8vw;
    left: 11vw;
    font-family: 'regular';
    font-size: 0.9vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.Seccion1__text{
    position: relative;
    top: -40vw;
    left: 45vw;
    width: 40vw;
    height: 30vw;
    text-align: center;
    align-items: center;
}
.Seccion1__text--ingreso{
    position: relative;
    font-family: 'regular';
    font-size: 3vw;
    color: black;
}
.Seccion1__text--debido{
    position: relative;
    font-family: 'ligth';
    font-size: 1.5vw;
    color: black;
    top: 1vw;
}
.Seccion1__text--boton{
    position: relative;
    height: 2.5vw;
    width: 8vw;
    background-color: #3a68d6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 3vw;
    left: 18vw;
    font-family: 'regular';
    font-size: 0.9vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.seccion2__TEXT--titulo{
    position: relative;
    font-family: 'ligth';
    font-size: 3.5vw;
    color: black;
    top: -20vw;
    left: 30vw;
}
.seccion2__TEXT--text{
    position: relative;
    font-family: 'ligth';
    font-size: 2vw;
    color: black;
    top: -15vw;
    left: 5vw;
    text-align: center;
    width: 40vw;
}
.seccion2__TEXT--Conocer{
    position: relative;
    font-family: 'ligth';
    font-size: 1.5vw;
    color: black;
    top: -13vw;
    left: 16vw;
}
.img2{
    position: relative;
    width: 1.5vw;
    left: 25vw;
    top: -11vw;
}
.img3{
    position: relative;
    width: 60vw;
    left: 40vw;
    top: -55vw;
}
